apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- clickhouseinstallations.clickhouse.altinity.com.crd.yaml
- clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
- clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
- clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
