{{- $name := $.Metadata.Name -}}
{
  "resource": {
    "aws_cloudwatch_log_group": {
      "ecs": {
        "name": "/ecs/{{ $name }}",
        "retention_in_days": "${var.log_retention_days}"
      }
    }
  }
}
