apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ $.Metadata.Name }}

resources:
- namespace.yaml
{{- if $.Spec.TelemetryStore.Spec.Enabled }}
- telemetrystore/clickhouse-operator
- telemetrystore/clickhouse-instance
{{- end }}
{{- if $.Spec.TelemetryKeeper.Spec.Enabled }}
- telemetrykeeper
{{- end }}
{{- if $.Spec.TelemetryStore.Spec.Enabled }}
- telemetrystore-migrator
{{- end }}
{{- if $.Spec.MetaStore.Spec.Enabled }}
- metastore/postgresql
{{- end }}
{{- if $.Spec.Signoz.Spec.Enabled }}
- signoz
{{- end }}
{{- if $.Spec.Ingester.Spec.Enabled }}
- ingester
{{- end }}
{{- if $.Patches }}
patches:
{{ toYaml $.Patches | nindent 2 }}
{{- end }}