apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ $.Metadata.Name }}

labels:
- includeSelectors: false
  pairs:
{{- range $key, $value := $.Labels }}
    {{ $key }}: {{ $value }}
{{- end }}

resources:
- namespace.yaml
{{- if derefBool $.Spec.TelemetryStore.Spec.Enabled }}
- telemetrystore/clickhouse
{{- end }}
{{- if derefBool $.Spec.TelemetryKeeper.Spec.Enabled }}
- telemetrykeeper/clickhousekeeper
{{- end }}
{{- if derefBool $.Spec.TelemetryStore.Spec.Enabled }}
- telemetrystore-migrator
{{- end }}
{{- if and (derefBool $.Spec.MetaStore.Spec.Enabled) (eq $.Spec.MetaStore.Kind.String "postgres") }}
- metastore/postgres
{{- end }}
{{- if derefBool $.Spec.Signoz.Spec.Enabled }}
- signoz
{{- end }}
{{- if derefBool $.Spec.MCP.Spec.Enabled }}
- mcp
{{- end }}
{{- if derefBool $.Spec.Ingester.Spec.Enabled }}
- ingester
{{- end }}