{
  "build": {
    "builder": "DOCKERFILE",
    "dockerfilePath": "Dockerfile"
  },
  "deploy": {
    "numReplicas": 1,
    "startCommand": "/bin/sh -c '/signoz-otel-collector migrate bootstrap --clickhouse-dsn=$CLICKHOUSE_DSN && /signoz-otel-collector migrate sync up --clickhouse-dsn=$CLICKHOUSE_DSN && /signoz-otel-collector migrate async up --clickhouse-dsn=$CLICKHOUSE_DSN'",
    "restartPolicyType": "NEVER"
  }
}
