{{- $name := $.Metadata.Name -}}
{
  "aws_region": "{{ $.Region }}",
  {{- if not $.Substrate }}
  "cluster_arn": "{{ default "" $.Stated.ClusterARN }}",
  "subnet_ids": {{ toJson (default (list) $.Stated.SubnetIDs) }},
  "security_group_ids": {{ toJson (default (list) $.Stated.SecurityGroupIDs) }},
  "vpc_id": "{{ default "" $.Stated.VPCID }}",
  {{- end }}
  {{- if $.Stated.TaskRoleARN }}
  "task_role_arn": "{{ $.Stated.TaskRoleARN }}",
  {{- else }}
  "task_role_name": "{{ $name }}-installation-iam-task",
  {{- end }}
  {{- if $.Stated.ExecutionRoleARN }}
  "execution_role_arn": "{{ $.Stated.ExecutionRoleARN }}"
  {{- else }}
  "execution_role_name": "{{ $name }}-installation-iam-exec"
  {{- end }}
}
