{{- $name := $.Metadata.Name -}}
{
  "aws_region": "{{ $.Region }}",
  "cluster_arn": "{{ $.Cluster.Stated }}",
  "subnet_ids": {{ toJson (default (list) $.Subnets.StatedIDs) }},
  "security_group_ids": {{ toJson (default (list) $.SecurityGroup.StatedIDs) }},
  "vpc_id": "{{ $.VPC.Stated }}",
  {{- if $.TaskRole.IsStated }}
  "task_role_arn": "{{ $.TaskRole.Stated }}",
  {{- else }}
  "task_role_name": "{{ $name }}-installation-iam-task",
  {{- end }}
  {{- if $.ExecutionRole.IsStated }}
  "execution_role_arn": "{{ $.ExecutionRole.Stated }}"
  {{- else }}
  "execution_role_name": "{{ $name }}-installation-iam-exec"
  {{- end }}
}
