[Install]
WantedBy=multi-user.target

[Service]
Group=clickhouse
LimitCORE=infinity
RestartSec=30
Type=simple
User=clickhouse
CapabilityBoundingSet=CAP_NET_ADMIN CAP_IPC_LOCK CAP_SYS_NICE CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/clickhouse-server --config=/etc/clickhouse-server/config.yaml --pid-file=/run/clickhouse/clickhouse.pid
LimitNOFILE=500000
Restart=always
RuntimeDirectory=clickhouse

[Unit]
Description=ClickHouse Server (v25.5.6)
Requires=network-online.target
Wants=time-sync.target signoz-telemetrykeeper-clickhousekeeper-0.service
After=time-sync.target network-online.target signoz-telemetrykeeper-clickhousekeeper-0.service
