[Unit]
Description=SigNoz TelemetryStore Migrator
Documentation=https://signoz.io/docs

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=5
User=signoz
Group=signoz
{{- if and $.Metadata.Annotations (index $.Metadata.Annotations "foundry.signoz.io/ingester-binary-path") }}
{{- $ingesterBinary := index $.Metadata.Annotations "foundry.signoz.io/ingester-binary-path" }}
ExecStartPre={{ $ingesterBinary }} migrate ready
ExecStart=/bin/bash -c '{{ $ingesterBinary }} migrate bootstrap && {{ $ingesterBinary }} migrate sync up && {{ $ingesterBinary }} migrate async up'
{{- end }}
{{- if and $.Spec.TelemetryStore.Spec.Enabled $.Spec.TelemetryStore.Status.Addresses.TCP (index $.Spec.TelemetryStore.Status.Addresses.TCP 0) }}
Environment=SIGNOZ_OTEL_COLLECTOR_CLICKHOUSE_DSN={{ index $.Spec.TelemetryStore.Status.Addresses.TCP 0 }}
{{- end }}
{{- range $key, $value := $.Spec.Ingester.Spec.Env }}
Environment={{ $key }}={{ $value }}
{{- end }}
[Install]
WantedBy=multi-user.target
