[Unit]
Description=Apache ZooKeeper (v{{ $.Spec.TelemetryKeeper.Spec.Version }})
Requires=network-online.target
After=time-sync.target network-online.target
Wants=time-sync.target

[Service]
Type=simple
User=zookeeper
Group=zookeeper
Restart=always
RestartSec=30
ExecStart=/usr/share/zookeeper/bin/zkServer.sh --config /etc/zookeeper start-foreground
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
