fullnameOverride: {{ $.Metadata.Name }}
clickhouse:
  fullnameOverride: {{ $.Metadata.Name }}-telemetrystore-clickhouse
  image:
    {{- with parseImage $.Spec.TelemetryStore.Spec.Image }}
    {{- if ne .Registry "docker.io" }}
    registry: {{ .Registry }}
    {{- end }}
    repository: {{ .Repository }}
    tag: {{ .Tag | quote }}
    {{- end }}
  layout:
    shardsCount: {{ derefIntDefault $.Spec.TelemetryStore.Spec.Cluster.Shards 1 }}
    replicasCount: {{ add (derefInt $.Spec.TelemetryStore.Spec.Cluster.Replicas) 1 }}
  zookeeper:
    enabled: {{ derefBool $.Spec.TelemetryKeeper.Spec.Enabled }}
    fullnameOverride: {{ $.Metadata.Name }}-telemetrykeeper-zookeeper
    image:
      {{- with parseImage $.Spec.TelemetryKeeper.Spec.Image }}
      {{- if ne .Registry "docker.io" }}
      registry: {{ .Registry }}
      {{- end }}
      repository: {{ .Repository }}
      tag: {{ .Tag | quote }}
      {{- end }}
    replicaCount: {{ derefIntDefault $.Spec.TelemetryKeeper.Spec.Cluster.Replicas 1 }}
signoz:
  image:
    {{- with parseImage $.Spec.Signoz.Spec.Image }}
    {{- if ne .Registry "docker.io" }}
    registry: {{ .Registry }}
    {{- end }}
    repository: {{ .Repository }}
    tag: {{ .Tag | quote }}
    {{- end }}
  replicaCount: {{ derefIntDefault $.Spec.Signoz.Spec.Cluster.Replicas 1 }}
  {{- with $.Spec.Signoz.Spec.Env }}
  env:
{{ toYaml . | indent 4 }}
  {{- end }}
otelCollector:
  name: ingester
  image:
    {{- with parseImage $.Spec.Ingester.Spec.Image }}
    {{- if ne .Registry "docker.io" }}
    registry: {{ .Registry }}
    {{- end }}
    repository: {{ .Repository }}
    tag: {{ .Tag | quote }}
    {{- end }}
  replicaCount: {{ derefIntDefault $.Spec.Ingester.Spec.Cluster.Replicas 1 }}
  {{- with $.Spec.Ingester.Spec.Env }}
  additionalEnvs:
{{ toYaml . | indent 4 }}
  {{- end }}
postgresql:
  enabled: {{ and (derefBool $.Spec.MetaStore.Spec.Enabled) (eq $.Spec.MetaStore.Kind.String "postgres") }}
  {{- if and (derefBool $.Spec.MetaStore.Spec.Enabled) (eq $.Spec.MetaStore.Kind.String "postgres") }}
  fullnameOverride: {{ $.Metadata.Name }}-metastore-postgres
  image:
    {{- with parseImage $.Spec.MetaStore.Spec.Image }}
    {{- if ne .Registry "docker.io" }}
    registry: {{ .Registry }}
    {{- end }}
    repository: {{ .Repository }}
    tag: {{ .Tag | quote }}
    {{- end }}
  {{- with $.Spec.MetaStore.Spec.Env }}
  auth:
    {{- with index . "POSTGRES_DB" }}
    database: {{ . }}
    {{- end }}
    {{- with index . "POSTGRES_USER" }}
    username: {{ . }}
    {{- end }}
    {{- with index . "POSTGRES_PASSWORD" }}
    password: {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- end }}
telemetryStoreMigrator:
  name: {{ $.Metadata.Name }}-telemetrystore-migrator
