clickhouse:
  enabled: {{ $.Spec.TelemetryStore.Spec.Enabled }}
  {{- with $.Spec.TelemetryStore.Spec.Image }}
  {{- $parts := splitn ":" 2 . }}
  image:
    repository: {{ $parts._0 }}
    tag: {{ $parts._1 | default "latest" }}
  {{- end }}
  {{- if or $.Spec.TelemetryStore.Spec.Cluster.Shards $.Spec.TelemetryStore.Spec.Cluster.Replicas }}
  layout:
    shardsCount: {{ $.Spec.TelemetryStore.Spec.Cluster.Shards  }}
    replicasCount: {{ $.Spec.TelemetryStore.Spec.Cluster.Replicas }}
  {{- end }}
  {{- with $.Spec.TelemetryStore.Spec.Config.Knobs }}
{{ toYaml . | indent 2 }}
  {{- end }}
zookeeper:
  enabled: {{ $.Spec.TelemetryKeeper.Spec.Enabled }}
  {{- with $.Spec.TelemetryKeeper.Spec.Image }}
  {{- $parts := splitn ":" 2 . }}
  image:
    repository: {{ $parts._0 }}
    tag: {{ $parts._1 | default "latest" }}
  {{- end }}
  replicaCount: {{ $.Spec.TelemetryKeeper.Spec.Cluster.Replicas }}
  {{- with $.Spec.TelemetryKeeper.Spec.Config.Knobs }}
{{ toYaml . | indent 4 }}
  {{- end }}
signoz:
  {{- with $.Spec.Signoz.Spec.Image }}
  {{- $parts := splitn ":" 2 . }}
  image:
    repository: {{ $parts._0 }}
    tag: {{ $parts._1 | default "latest" }}
  {{- end }}
  {{- with $.Spec.Signoz.Spec.Cluster.Replicas }}
  replicaCount: {{ . }}
  {{- end }}
  {{- if $.Spec.Signoz.Spec.Env }}
  env:
    {{- with $.Spec.Signoz.Spec.Env}}
{{ toYaml . | indent 4 }}
    {{- end }}
  {{- end }}
  {{- with $.Spec.Signoz.Spec.Config.Knobs }}
{{ toYaml . | indent 2 }}
  {{- end }}
otelCollector:
  enabled: {{ $.Spec.Ingester.Spec.Enabled }}
  {{- with $.Spec.Ingester.Spec.Image }}
  {{- $parts := splitn ":" 2 . }}
  image:
    repository: {{ $parts._0 }}
    tag: {{ $parts._1 | default "latest" }}
  {{- end }}
  {{- with $.Spec.Ingester.Spec.Cluster.Replicas }}
  replicaCount: {{ . }}
  {{- end }}
  {{- if $.Spec.Ingester.Spec.Env }}
  env:
    {{- with $.Spec.Ingester.Spec.Env}}
{{ toYaml . | indent 4 }}
    {{- end }}
  {{- end }}
  {{- with $.Spec.Ingester.Spec.Config.Knobs }}
{{ toYaml . | indent 2 }}
  {{- end }}
postgresql:
  enabled: {{ $.Spec.MetaStore.Spec.Enabled }}
  {{- with $.Spec.MetaStore.Spec.Image }}
  {{- $parts := splitn ":" 2 . }}
  image:
    repository: {{ $parts._0 }}
    tag: {{ $parts._1 | default "latest" }}
  {{- end }}
  {{- if $.Spec.MetaStore.Spec.Env }}
  auth:
    {{- with index $.Spec.MetaStore.Spec.Env "POSTGRES_DB" }}
    database: {{ . }}
    {{- end }}
    {{- with index $.Spec.MetaStore.Spec.Env "POSTGRES_USER" }}
    username: {{ . }}
    {{- end }}
    {{- with index $.Spec.MetaStore.Spec.Env "POSTGRES_PASSWORD" }}
    password: {{ . }}
    {{- end }}
  {{- end }}
  {{- with $.Spec.MetaStore.Spec.Config.Knobs }}
{{ toYaml . | indent 2 }}
  {{- end }}