# based on manfiest https://github.com/Altinity/clickhouse-operator/releases/download/release-0.25.3/altinity-clickhouse-operator-0.25.3.tgz
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Own tier: applied before the root, so it carries the namespace itself.
namespace: {{ $.Metadata.Name }}

resources:
- namespace.yaml
- clickhouseinstallations.clickhouse.altinity.com.crd.yaml
- clickhouseinstallationtemplates.clickhouse.altinity.com.crd.yaml
- clickhouseoperatorconfigurations.clickhouse.altinity.com.crd.yaml
- clickhousekeeperinstallations.clickhouse-keeper.altinity.com.crd.yaml
- serviceaccount.yaml
- configmap.yaml
- clusterrole.yaml
- clusterrolebinding.yaml
- service.yaml
- deployment.yaml
