{
  "variable": {
    "aws_region": {
      "description": "AWS region to deploy resources",
      "type": "string",
      "default": "us-east-1"
    },
    "vpc_cidr": {
      "description": "CIDR block for the VPC",
      "type": "string",
      "default": "10.0.0.0/16"
    },
    "az_count": {
      "description": "Number of availability zones to use",
      "type": "number",
      "default": 2
    },
    "name": {
      "description": "The name of the deployment",
      "type": "string",
      "default": "{{ .Metadata.Name }}"
    },
    "kubernetes_version": {
      "description": "Kubernetes version for the EKS cluster",
      "type": "string",
      "default": "1.30"
    },
    "node_instance_type": {
      "description": "EC2 instance type for the node group",
      "type": "string",
      "default": "t3.large"
    },
    "node_desired_size": {
      "description": "Desired number of nodes in the node group",
      "type": "number",
      "default": 2
    },
    "node_min_size": {
      "description": "Minimum number of nodes in the node group",
      "type": "number",
      "default": 1
    },
    "node_max_size": {
      "description": "Maximum number of nodes in the node group",
      "type": "number",
      "default": 4
    },
    "node_disk_size": {
      "description": "Root volume size (GB) for the nodes",
      "type": "number",
      "default": 50
    }
  }
}
