apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ $.Metadata.Name }}

labels:
  - pairs:
      {{- range $key, $value := $.Labels }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    includeSelectors: false
    includeTemplates: true

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - service.yaml
{{- if eq (print $.Spec.Collector.Kind) "agent" }}
  - daemonset.yaml
{{- else }}
  - deployment.yaml
{{- end }}

configMapGenerator:
  - name: {{ $.Metadata.Name }}-collector-{{ $.Spec.Collector.Kind }}
    files:
      - {{ $.Spec.Collector.Kind }}.yaml={{ $.Spec.Collector.Kind.ConfigKey }}
