apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ $.Metadata.Name }}

labels:
  - pairs:
      {{- range $key, $value := $.Labels }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    includeSelectors: false
    includeTemplates: true

resources:
  - namespace.yaml
  - collector/{{ $.Spec.Collector.Kind }}
