{{- $name := print $.Metadata.Name "-collector-" $.Spec.Collector.Kind -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  labels:
    app.kubernetes.io/name: {{ $name }}
    app.kubernetes.io/instance: {{ $.Metadata.Name }}
    app.kubernetes.io/component: collector-{{ $.Spec.Collector.Kind }}
    app.kubernetes.io/managed-by: kustomize
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ $name }}
    app.kubernetes.io/instance: {{ $.Metadata.Name }}
    app.kubernetes.io/component: collector-{{ $.Spec.Collector.Kind }}
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: otlp-grpc
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: otlp-http
      protocol: TCP
